<div class="card mt-5">
  <div class="card-header">
    Thêm mới người dùng
  </div>
  <div class="card-body">
    <div class="row m-2">
      <form class="col-12" [formGroup]="formAddGroup" (ngSubmit)="submit()">
        <div class="form-group">
          <label>Ten</label>
          <input formControlName="name" type="text" class="form-control" >
          <div *ngIf="name.invalid && (name.dirty || name.touched)"
               class="alert alert-danger">
            <div *ngIf="name.errors.required">
              Name is required.
            </div>
          </div>
        </div>


        <button [disabled]="formAddGroup.invalid" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
